$screen: (
    xxs: 480px,
    xs: 680px,
    md: 780px,
    lg: 991px,
    xlg: 1200px
);

$padding: (
    default: 15px
);

$header: (
    height: 70px
);

$palette: ( 
    primary: #075ac0,
    font: #4a4a4a
);